.features {
    max-width: 1440px;
    margin: 0 auto;
    padding: 60px 86px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.features h3 {
    color: rgb(42, 37, 75);
    font-size: 24px;
    font-weight: 400;
}

.blocks {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 22px;
}

.blocks div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    background: rgb(249, 249, 249);
    padding: 38px;
}

.blocks h4 {
    color: rgb(42, 37, 75);
    font-size: 20px;
    font-weight: 400;
}

.blocks p {
    color: rgb(42, 37, 75);
    font-size: 16px;
    font-weight: 400;
}

.blocks img {
    width: 24px;
    margin-bottom: 16px;
}