.card {
    display: flex;
    flex-direction: column;
    border: none;
}

.card img {
    width: 305px;
    height: 375px;
}

.card h3 {
    font-size: 20px;
    font-weight: 400;
    color: rgb(42, 37, 75);
    margin-top: 24px;
}

.card p {
    font-size: 18px;
    font-weight: 400;
    color: rgb(42, 37, 75);
    margin-bottom: 48px;
}